$calcBg: #3f3f3f;
$ScreenBg: #000000;

$historyBg: #3f3f3f;
$historyScreenBg: #000000;

$fontColor: #ffffff;
$secFontColor: #08a11f;
    
$titleBarBg: #2d2d2d;

$btnsBg: #000000;
$btnBg: #202020;
$funcBtnBg: #035510;
$clearBtnColor: #ae1e08;
$equalBtnBg: #08a11f;
$equalBtnColor: #ffffff;

